@import "../variables"

.proj_card
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    padding: 7% 0

    @media ( min-width: $bkpt-min-sm )
        flex-direction: row
        align-items: flex-start
        padding: 5% 0

    .proj_info
        padding: 3% 4%

    .proj_text
        padding: 2% 0

    .action_btn  
        display: flex  
        justify-content: center 
        margin-top: 4%

        @media ( min-width: $bkpt-min-sm )
            margin-top: 20%

        @media ( min-width: $bkpt-min-lg )
            justify-content: flex-end 
            margin-top: 35%

.thumbnail
    height: 68%
    width: 68%

    @media ( min-width: $bkpt-min-sm )
        max-height: 50%
        max-width: 50%

.line
    display: flex
    justify-content: center

.line_after_slug
    margin: 0
    width: 250px



