.proj_card
    display: flex
    padding: 4% 0   

    .proj_info
    padding: 0 2%

    .proj_text
    padding: 2% 0

    .action_btn  
        display: flex
        justify-content: flex-end    
        margin-top: 35%

.thumbnail
    padding: 0 3%
    max-width: 300px  

.line_after_slug
    margin: 0
    width: 450px



