@import './components/variables.sass'

// Global Styles  
html, body 
  background-color: $bkg-black
  color: $main-white
  font-family: $main-font
  font-size: 16px

h1
  font-size: 3em  
  font-weight: $title-fw
  letter-spacing: 3px
  text-transform: uppercase

button 
  color: $main-white
  background-color: transparent
  border: 2px solid $main-white
  font-family: $main-font
  font-size: 0.9em
  font-weight: $btn-fw
  padding: 8px 12px
  text-transform: uppercase

  img 
    margin-left: 8px
