@import './components/variables.sass'

// Global Styles  
html, body 
  background-color: $bkg-black
  color: $main-white
  font-family: $main-font
  font-size: 16px

h1
  font-size: 3em  
  font-weight: $title-fw
  letter-spacing: 3px
  text-transform: uppercase

h2
  font-size: 1.9em
  font-weight: $title-fw

h3
  font-size: 0.9em
  font-weight: $slug-fw
  text-transform: uppercase
  margin: 0.2em 0

p
  line-height: 1.3
  font-size: 0.9em

  @media ( min-width: $bkpt-min-lg )
    font-size: 1em

button 
  color: $main-white
  cursor: pointer
  background-color: transparent
  border: 1px solid $main-white
  font-family: $main-font
  font-size: 0.8em
  font-weight: $btn-fw
  padding: 8px 12px
  text-transform: uppercase

  @media ( min-width: $bkpt-min-lg )
    font-size: 0.9em

  img 
    margin-left: 8px

ul
  display: flex
  align-items: center
  font-weight: $p-fw
  margin: 0
  padding: 0
  text-transform: uppercase

  li
    margin-right: 1%
    list-style: none   
hr
  border-style: solid   


// ---  Main App Styles --- //
.page
  max-width: 1280px
  margin: 0 auto

.page-header
  text-align: center

  @media ( min-width: $bkpt-min-lg )
    text-align: left

.page-wrapper
  padding: 0 5%

  @media ( min-width: $bkpt-min-lg )
    padding: 0 8%

// Asset Styles
.asset-top
  display: flex
  justify-content: flex-end

  .green-dots
    max-height: 70px

    @media ( min-width: $bkpt-min-md )
      max-height: 100px

.asset-bottom
  display: flex
  justify-content: space-between
  align-items: flex-end

  .dot-circle
    max-height: 150px
    
    @media ( min-width: $bkpt-min-md )
      max-height: 200px

  .half-circle
    max-height: 150px

    @media ( min-width: $bkpt-min-md )
      max-height: 300px

    @media ( min-width: $bkpt-min-xl )  
      max-height: 350px

// Category Row  
.cat-row
  display: flex
  flex-wrap: wrap
  justify-content: center

  @media ( min-width: $bkpt-min-lg )
    justify-content: left

.cat-btn
  border: 1px solid $bkg-black
  padding: 5px 20px

  &:hover, &:active
      border: 1px solid $main-white

.cat-after-line
  margin-top: 1em
  border-width: 2px 

// Project Gallery
.project-gallery
  display: flex
  flex-direction: column
  width: 100%

  @media ( min-width: $bkpt-min-lg )
    flex-direction: row
    flex-wrap: wrap
    